<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHeartOutline } from '@mdi/js';
</script>
<template>
    <v-container>
        <v-row>
            <v-col>
                <v-icon :icon="mdiHeartOutline"/>
                <FancyButton>Love Me
                    <template v-slot:tail> Tail </template>
                </FancyButton>
            </v-col>
            <v-col>
                <v-icon :icon="mdiHeartOutline"/>
                <FancyButton>Click Me
                    <template #tail> My Tail </template>
                </FancyButton>
            </v-col>
        </v-row>
    </v-container>
</template>