<script lang="ts" setup>
import {ref} from 'vue';
import { 
mdiAccount,
mdiSchoolOutline, 
mdiHandshakeOutline,
mdiHandCoinOutline,
mdiFinance,
mdiSoccer,
mdiKeyboard } from '@mdi/js';
</script>

<template>
    <v-container>
      <v-row>
        <v-col>
            <v-img src="https://scontent.fbkk22-4.fna.fbcdn.net/v/t1.15752-9/355572617_1240218463302938_2911311133170823941_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF6za0tTkFqbJDznS9poADsy9NvZQ6edDvL029lDp50O_6B1ag8zo4JNwLcenysz9qofjrRCzV6EUQru6pjQbA9&_nc_ohc=VlT64GxEZvYAX_v2B5-&_nc_ht=scontent.fbkk22-4.fna&oh=03_AdSKxQfH_ubASRJeKoG2Lq54t8huaNtUXqzV4hy7_2PFZw&oe=64BA8B1F"
            :width="300"
            class="bd"
            ></v-img>
            <br>
            <v-table>
              <thead  class="text-left">
                <tr>
                  <th color="yellow"><v-icon :icon="mdiAccount"></v-icon>
                  Mr. Thanaphat Ketsani
                  </th>
                  <th class="text-left">65160169</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="headfont"><v-icon :icon="mdiSchoolOutline"></v-icon> EDUCATION<br>
                    <p class="pa">
                      Primary School year 1 - 6 (Poungkramschool)
                      <v-img src="https://tse2.mm.bing.net/th?id=OIP.hcUM4IAlp_C9ufL_HtZ6FwHaHa&pid=Api&P=0&h=180" 
                      width="50px"
                      ></v-img>
                      <br>
                      Middle School year 1 - 6 (Aranyaprathet School) <br>
                      Average grade of 6 terms in highschool = 3.11
                      <v-img src="https://tse3.mm.bing.net/th?id=OIP.KaOIj2-DDyEO-XAnWUgmMAHaHa&pid=Api&P=0&h=180"
                      width="50px"
                      ></v-img>
                      <br>
                      And now at Burapha University <br>
                      Average grade of 2 terms = 3.74
                      <v-img src="https://iae.umontpellier.fr/sites/default/files/pictures/institut/international/photos-up/logo-burapha-university.png" 
                      width="50px"
                      >
                      </v-img>
                    </p>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td class="headfont2">About my Attention <br>
                    <p class="pa">
                      - business  <v-icon color="blue" :icon=" mdiHandshakeOutline"></v-icon><br>
                      - trading , funding , investment  <v-icon color="blue" :icon="mdiFinance"></v-icon><br>
                      - start up  <v-icon color="blue" :icon="mdiHandCoinOutline"></v-icon><br>
                      - coding    <v-icon color="blue" :icon="mdiKeyboard"></v-icon><br>
                      - football  <v-icon color="blue" :icon="mdiSoccer"></v-icon><br>
                    </p>
                  </td>
                </tr>
              </tbody>
            </v-table>
        </v-col>
      </v-row>
    </v-container>
</template>
<style scoped>
.bd{
  border-radius: 35px;
}
.headfont{
  font-size:xx-large;
  color: blueviolet;
}
.headfont2{
  font-size:xx-large;
  color: orange;
}
.pa{
  font-size: medium;
  color: rgb(5, 182, 5);
}
</style>


  