<script setup lang="ts">
import {ref, computed} from 'vue';
import FrameworkPop from '@/components/FrameworkPop.vue';
const framelist = ref([
    {
    name:"Vue JS" ,
    img:"https://cdn.iconscout.com/icon/free/png-256/vuejs-3-1175070.png" ,
    rating: 10,
    },
    {
    name:"Angular JS" ,
    img:"https://clipground.com/images/angularjs-logo-png-1.png" ,
    rating: 10,
    },
    {
    name:"React JS" ,
    img:"https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/9543080/react-logo.png" ,
    rating: 10,
    },
]);
function changeRating(rating: number, index: number){
    console.log("action " + index + ": " +rating );
    framelist.value[index].rating = rating;
}
const orderlist = computed(() => {
    return [...framelist.value].sort((n1,n2) => n2.rating - n1.rating);
})
</script>
<template>
    <v-container>
        <v-row>
            <v-col v-for="(item, index) of framelist" :key="index">
                <FrameworkPop :name="item.name" :img="item.img" :index="index" @change="changeRating"/>
            </v-col>
        </v-row>
        <v-row class="justify-center">
            <v-col cols="6">
                <v-table>
                    <thead>
                        <tr>
                            <th>order</th>
                            <th>name</th>
                            <th>rating</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr v-for="(item, index) of orderlist" :key="index">
                                <td>{{ index+1 }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.rating }}</td>
                            </tr>
                        </tbody>
                </v-table>
            </v-col>
        </v-row>
    </v-container>
    
</template>