<script setup lang="ts">
import {ref} from 'vue';
const prop = withDefaults(
    defineProps<{
        name: string;
        img: string;
        rating: number;
        index: number;
}>(),
    {
        rating: 10,
    }
);
const emits = defineEmits<{
    (e: "change", index: number, rating: number): void;
}>();
// const prop = defineProps<{
//     name: {
//         type:String,
//         required: true,
//     }
//     img: {
//         type:String,
//         required: true,
//     }
//     rating: {
//         type: Number,
//         required: true,
//         default: 10,
//     }
// }>();
const count = ref(prop.rating);
function plus () {
    count.value++;
    emits("change", count.value, prop.index);
}
function del () {
    count.value--;
    emits("change", count.value, prop.index);
}
</script>
<template>
    <v-card class="mx-auto" max-width="344" variant="outlined">
  <v-img :src="prop.img"
        height="200px"
  ></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ prop.name }}</div>
        <div class="text-caption">Score: {{ count }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn variant="flat" color="error" @click="del">
        -
      </v-btn>
      <v-btn variant="flat" color="green" @click="plus">
        +
      </v-btn>
    </v-card-actions>
  </v-card>
</template>